<md-toolbar class="toolbar md-whiteframe-3dp" layout="row" layout-align="start center" layout-padding="">
    <navbar-left>
        <div layout="row">
            <div flex>
                <md-button class="md-fab md-primary" ng-href="/" aria-label="Home">
                    <md-icon class="zmdi zmdi-home zmdi-hc-2x"></md-icon>
                </md-button>
            </div>
            <div flex>
                <h3>eventizer</h3>
            </div>
        </div>
    </navbar-left>
    <span flex=''></span>

    <div class="navbar-right" layout="row" layout-align="center center">
    </div>

</md-toolbar>